/*
Static file for Theme changes
Theme name: My SPA Theme
Version: 1.0
Template: Howdy
*/

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #333 !important;
}
@media (min-width: 768px) {
  .container {
    width: 740px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1160px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.row {
  margin-left: -10px;
  margin-right: -10px;
}


body { 
	background: #fff; 
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

[class*="col"] {
  border: 1px solid red;
}

.content-wrapper {
	margin: 0 auto;
	max-width: 1500px;
	background: #fff;
	overflow: hidden !important;
	/* Prevent overflow issues with WOW.js */
}

header {
	position: relative;
	z-index: 100;
	background: #fff;
	-moz-box-shadow:    0px 3px 40px 0px rgba(0,0,0,.2);
	-webkit-box-shadow: 0px 3px 40px 0px rgba(0,0,0,.2);
	box-shadow:         0px 3px 40px 0px rgba(0,0,0,.2);
}

header .logo { 
	margin: 20px 0;
	position: relative;
	z-index: 10;
}

header .logo img {
	width: 100%;
	height: auto;
	transition: all .25s ease-in-out;
}

header.shrink .logo { margin: 6px 0; }

header.shrink .logo img {
	width: 85%;
	height: auto;
}

header nav.navbar {
	min-height: 0;
}

header .navbar-nav>li>a {
	height: auto;
	padding: 10px 5px;
	color: #aaa;
}

header .navbar-nav>li>a .badge { background-color: red; }


header .nav > li > a:hover, .nav > li > a:focus {
	background-color: transparent !important;
}

header .main-nav {
	position: absolute;
	right: 0;
	bottom: 0;	
}

header .main-nav ul > li {
	float: right;
	margin-left: 10px;
}

.owl-carousel.homeboxes .item img {
    display: block;
    width: 100%;
    height: auto;
}

.owl-carousel.homeboxes .item a {
    display: block;
    width: 100%;
}

.owl-carousel.homeboxes .owl-controls .owl-buttons { display: none; }

.owl-carousel.homeboxes .owl-controls .owl-pagination {
  margin: 8px 0 0 0;
  width: 100%;
  text-align: center;
}

.owl-carousel.homeboxes .owl-controls .owl-pagination .owl-page {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 2px;
  border-radius: 50%;
  background: #ccc;
}

.owl-carousel.homeboxes .owl-controls .owl-pagination .owl-page.active {
  background: #888;
}

footer {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ededed+0,ffffff+43 */
	background: #ededed; /* Old browsers */
	background: -moz-linear-gradient(top,  #ededed 0%, #ffffff 43%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(43%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ededed 0%,#ffffff 43%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ededed 0%,#ffffff 43%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ededed 0%,#ffffff 43%); /* IE10+ */
	background: linear-gradient(to bottom,  #ededed 0%,#ffffff 43%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	
}

