<section>
	
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu metus vel enim ornare pellentesque ac vel nisl. Ut quis vehicula dolor, et euismod lorem. In ligula metus, interdum sit amet venenatis ac, ultrices et lacus. Vestibulum in neque eget magna varius tempor in vel eros. Aenean feugiat imperdiet pellentesque. Vestibulum eu malesuada ligula, pulvinar pharetra lacus. Fusce porta dui urna, a sagittis eros tempor a. Donec imperdiet tincidunt nisi, fringilla laoreet felis interdum id. In risus nulla, interdum non libero a, posuere condimentum nisl. Mauris gravida porta erat sit amet hendrerit.</p>
	
	<div class="container">
	
	    <nav id="451qa_nav_hdr" class="nav" style="display: none;">
	        <ul>
	            <li class="hidden-sm hidden-xs">
	                <span ng-click="toggleNav()"><i class="fa fa-bars" ng-class="{ 'text-info': navStatus.visible }"></i></span>
	            </li>
	            <li>
	                <span id="451_lbl_curcat" class="text-primary" ng-bind-html="currentCategory.Name || '  {{'Categories' | r | xlat}}'"></span>
	            </li>
	            <li class="pull-right">
	                <a href="search">
	                    <span><i class="fa fa-search text-primary"></i></span>
	                </a>
	            </li>
	        </ul>
	    </nav>
	    <aside class="col-sm-3 col-collapse visible-md visible-lg" ng-if="navStatus.visible">
	        <div class="panel panel-default panel-nav">
	            <div class="panel-heading">
	                <h3 class="panel-title">
	                    {{'Category List' | r | xlat}}
	                </h3>
	            </div>
	            <nav class="nav 451qa_sidenav panel-body">
	                <ul>
	                    <categorytree tree='tree' current='currentCategory' />
	                </ul>
	            </nav>
	        </div>
	    </aside>
	    <div class="col-collapse">
	
	        <categorylistview></categorylistview>
	
			<loadingindicator ng-show="productLoadingIndicator" title="{{'Please wait while we fetch all products' | r | xlat}}"/>
	
	        <productlistview></productlistview>
	
	    </div>
    
    </div><!--container-->
    
</section>